.cardd{
    height:400px;
    width: 300px;
    border: 0px solid white;
    background-repeat: no-repeat;
    background-size:100%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 300px;
    text-align: center;
    margin:0px 10px;
}
.item-title{
    height: 80px;
    border-radius: 5px;
    padding: 5px;
}
