.lists{
    display: flex;
    flex: 5;
    margin: 20px 0px;
    background-color: white;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}
.list-name{
    width: 150px;
}
.list-email{
    width: 250px;
}
.list-date{
    width: 130px;
}
.list-type{
    width: 200px;
}
.del-logo{
    height: 20px;
    
}
.delete-btn{
    background-color: white;
    border:1px solid red;
    border-radius: 5px;
    height: 30px;
}


